body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

@import "./homepage";
@import "./directory";
@import "./menu-item";
@import "./collection-preview";
@import "./collection-item";
@import "./header";
